@media (min-width: 768px) {

    .col-6-md{
        width: 50%;
    }

    /* Product Detail *************************************************/
    .header-container-md {
        width: 100%;
        display: flex;
        
    }
    .suggest-ul-md{
        padding: 0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    /*  HOME ********************************************** */
    .accordion-item-home{
        width: 10rem;
    }

}

@media (min-width: 992px) {
    /* Home*********************** */

    .container-filter-xl {
        width: 100%;
    }

}