/* .App {
  text-align: center;
} */
* {
  box-sizing: border-box;
  color: #515151;
  margin: 0;
  padding: 0;
}

.txt-center {
  text-align: center;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/* Loading Screen */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAV BAR **************************************************** */
.nav-container {
  justify-content: flex-end;
  width: 100%;
}

.title-nav {
  color: #f85555 !important;
}

.nav-burguer {
  align-items: flex-end;
  padding: 0 7rem;

}

/* HOME***************************************************** */
.image .image-over {
  background: #fff;
  opacity: 0;
  position: absolute;
  transition: .8s;
}

.container-search {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container-input {
  width: 70% !important;
}

.filter-image {
  width: 1rem;
}

.container-filter {
  display: flex;
  width: 100%;
  /* display: none; */
}

.container-filter-xs {
  /* display: flex; */
  width: 90% !important;
  /* justify-content: flex-end; */
  margin-bottom: 10%;
}

.accordion-container {
  width: 50%;
}

.accordion-item-home {
  border: none;
  width: 10rem;
}

.button-search {
  background-color: #f85555;
  border: none;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.image img {
  display: block;
  height: 200px;
  margin: 0 auto;
  object-fit: contain;
  width: 200px;
}

.shop-image {
  width: 2.5rem;
}

.home-button {
  background-color: #f85555;
  width: 3rem;
  border: none;
  border-radius: 50%;
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-home-button {
  width: 1.5rem;
}

.container-price {
  display: flex;
  justify-content: flex-start;
  padding-top: 1rem;
}

.container-home-button {

  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

/* PRODUCT DETAIL******************************************** */

.product-container {
  margin: 3rem 0;
  padding-right: 2rem;
}

.image-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-image {
  margin-top: 15%;
  width: 150px;
}

.li-container {
  display: flex;
  margin: 10% 0;
}

.options-image-item {
  list-style: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.options-image {
  width: 15%;
}

.shop-button {
  background-color: #f85555;
  border: none;
  width: 280px;
  color: white;
  height: 3rem;
  margin-bottom: 20%;
}

.text-after-button {
  color: #f85555;
  font-weight: 600;
}

.image-button {
  width: 1rem;
}

.add-button {
  width: 40px;
  /* height: fit-content; */
  background-color: white;
  border: 1px solid gray;
  justify-content: center;
  display: flex;
  align-content: center;
  align-items: center;

}

.add-content {
  width: 40px;
  height: fit-content;
  background-color: white;
  border: 1px solid gray;
  padding: 0.09rem;
}

.add-image {
  width: 50%;
}

.suggest-item {
  list-style: none;
  cursor: pointer;
}

/* PURCHASE ITEM ********************************************************************************* */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}


.list-item {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  cursor: pointer;
}

.list-container {
  border: 1px solid #dcd9d9;
  border-radius: 10px;
  width: 90%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 7% 0;
}

.date-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 1rem 0;
  padding-left: 1rem;
  border-bottom: 1px solid #dcd9d9;
}

.box-quantity {
  border: 1px solid #dcd9d9;
  width: 40px;
  height: 30px;
}

.quantity-container {
  display: flex;
  justify-content: center;
}

/* LOGIN******************************************************************* */


.login-main-container {
  justify-content: center;
  display: flex;
  /* margin-top: 2rem; */
  background: hsla(0, 1%, 72%, .1);
}

.login-form-container {
  width: 100%;
  align-items: center;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  /* margin: 2rem 0; */
}

.form-login {
  border-radius: 10px;
  max-width: 400px;
  padding: 25px;
  width: 100%;
  background-color: #fff;
}

.test-data-container {
  margin: 2rem 0;
}

.test-data {
  background: #d8f5fd;
  border-radius: 6px;
  padding: 12px;
}

.test-data h3 {
  text-align: center;
}

.login-button {
  background-color: #f85555 !important;
  border: none;
  color: #fff;
  width: 250px;
  margin-bottom: 10%;
  height: 40px;
}

.login-button-container {
  text-align: center;
  margin: 2rem 0;
}

.signup-button {
  background: transparent;
  color: #2fa8f8;
  font-size: inherit;
  border: none;
}


/* Footer ***************************************************************** */

footer {
  margin-top: 2rem;
  background: #3c3c3b;
  padding: 60px 0;
  color: #fff;
}

footer .copyright {
  font-size: 1.2rem;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

footer .social-networks {
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

.image-footer {
  width: 48px;
}

/* CartSide********************************************************************* */


.button-delete {
  border: none;
  background-color: transparent;
  color: #f85555;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-delete img {
  width: 20px;
}

.li-sidebar {
  list-style: none;
  margin: 3rem 0;
}

.quantity {
  border: 1px solid #dcd9d9;
  border-radius: 3px;
  height: 30px;
  line-height: 1.8;
  text-align: center;
  width: 60px;
}

.li-sidebar p {
  font-size: medium;
  font-weight: 600;
}

.total-item {
  display: flex;
  justify-content: flex-end;
}

.total-item span {
  margin-right: 1rem;
}

.total-cart {
  border-top: 1px solid #dcd9d9;
  margin-bottom: 2rem;
}

.total-cart span {
  margin-top: 1rem;
}

.total-cart b {
  margin-top: 1rem;
  margin-right: 1rem;
}